#app{
    background-color:black;
    color: white;
        margin-top: 50px;
    margin-left: 25px;
}

img{ width:450px; }

.task-input input, .task-input span {
    background-color: #111;
    border: none;
    color: white;
    width: 300px;
    height:50px;
    font-size: 30px;
}

html{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}


body {
  background: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
}

.history{
  margin-top:50px;
}

input:focus {outline:0;}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button:focus {
    outline: none;
} 

.tasksummarycontainer {
    color: white;
    font-size: 30px;
}

input.taskSummary {
    background-color: #111;
    border: none;
    color: white;
    width: 90%;
    font-size: 30px;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

button{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
  -o-user-select: none;
  border: none;
  height:50px;
  width:50px;
  padding: 14px;
  background-size:50px;
}

input.refresh, input.delete-all {
    background-color: black;
    color: white;
    border: none;
}

button.running{
  background:url(../media/RedX.png) no-repeat;
  margin-left: 20px;
  background-size:50px;
}

button.stopped{
  background:url(../media/Go.png) no-repeat;
  margin-left: 20px;
}

.pomodoro{
  width:100%;
}

.time-panel{
  margin-top: 130px;
}
.reset{ 

      background-color: #111;
    color: #fff;
    margin-right: 100px;
    font-size: 75px;
}
.countdown{
  color: #fff;
  font-size:150px;  
  display: inline-block;
  width:350px;
  height:100px;
}

.time{
  color: #fff;
  font-size:75px;  
    display: inline-block;
  width:350px;
}
.date{
 margin:0 auto;
  left: 50%;
  color: #fff;
  font-size:40px;  
  width:100%;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.completed-true {
    color: green;
}

.completed-false, .completed-undefined {
    color: red;
}

.headerImage {
    text-align: right;
}